PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/poc-dns?retryWrites=true&w=majority
SERVER_IP=127.0.0.1
CNAME_TARGET=localhost
VERIFICATION_PREFIX=smartdeliver-verification
NODE_ENV=development